// FOOTER 

footer {
    background: #312d32;
    min-height: 130px;
    display: flex;
    align-items: center;
    .social {
    //     font-size: 23px;
    //     color: #695d6c;
        svg{
            margin: 10px;
        }
    }
}
footer > div {
    display: flex;
    color: #aaa3ac;
    font-size: 14px;
    height: 125px;
    justify-content: space-between;
    align-content: space-around;
    align-items: center;
    .box {
        flex: 1 1 auto;
    }
    .logo {
        flex: 1;
        color:#695d6c;
        img {
            padding: 12px 10px;
        }
        p{
            // padding-top: 20px;
        }
    }

    .box-last {
        flex: 3 3 auto;
    }

    ul.menu {
        flex: 3;
        display: inline-flex;
        // flex-direction: column;
        flex-wrap: wrap;
        padding: 0;
        // margin: 0;
        margin: 25px 0;
        width: 100%;
        li{
            flex-basis: 50%;
        }
        li>a {
            font-size: 14px;
            color: #aaa3ac; 
            font-weight: 200;
    }
    }
}