.two-header {
    .two-header-shop {
        display: flex;
        align-items: center;
        height: 180px;
        .box-header {
            flex: 1;
        }
        .cats-toggle {
            flex: 3;
        }
        .menu-flex {
            display: none;
        }
    }
    .two-header-cart {
        display: flex;
        align-items: center;
        height: 180px;
        a {
            color: black;
        }
        a:hover {
            text-decoration: none;
            cursor: pointer;
        }
        a .label {
            font-size: 20px;
            font-weight: normal;
            background-color: #dff0ef;
            color: #000;
            border-radius: 0px;
        }
    }
}

.stocks-box {
    background-color: #f5f5f5;
    padding: 35px 15px 0 15px;
    .stock-box {
        display: flex;
        flex-direction: row;
        align-self: auto;
        flex-wrap: wrap;
        justify-content: flex-start;
        .element {
            order: 0;
            flex-grow: 1;
        }
        .stock-img img {
            width: 100%;
        }
        .slider {
            display: flex;
            flex-direction: column;
            justify-content: center;
            a {
                color: #000;
            }
        }
        .stock-label {
            background: #90c772;
            color: #fff;
            float: left;
            font-size: 19px;
            line-height: 75px;
            text-align: center;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            border-width: 1px;
            border-style: solid;
            margin-top: 50px;
        }
        .stock-text {
            margin-top: 50px;
            p {
                color: #000;
                font-size: 18px;
                margin-top: 80px;
                span {
                    background: #fafafa;
                    color: #0f080d;
                    padding: 10px;
                    font-weight: normal;
                }
            }
        }
        .stock-price {
            margin-top: 50px;
            .price-old {
                font-size: 24px;
                span {
                    text-decoration: line-through;
                }
            }
            .price {
                font-size: 40px;
                color: #000;
                margin-top: -10px;
            }
            button {
                font-size: 18px;
            }
        }
    }
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    align-self: auto;
    margin-top: 50px;
    .product-container {
        margin-top: 100px;
        .product-title {
            font-size: 24px;
            padding-bottom: 20px;
            font-weight: 600;
            color: #000;
        }
        .price {
            width: 100%;
            padding-top: 15px;
            padding-bottom: 15px;
            .price-naw {
                color: #000;
                font-size: 30px;
            }
        }
        .product-img {
            position: relative;
            img {
                width: 100%;
            }
            .label-product {
                position: absolute;
                top: 0;
                padding: 0px 15px;
                background-color: #c9c0c0;
                color: #fff;
                font-size: 14px;
            }
            .label-top {
                background-color: #fab600;
            }
            .label-new {
                background-color: #90c772;
            }
            .label-discount {
                background-color: #f7637f;
            }
        }
        .btn-buy {
            font-size: 20px;
            padding: 20px 30px;
            span {
                margin-right: 15px;
            }
        }
    }
}